header {
    display: flex;
    justify-content: space-between
}

main {
    display: flex;
    justify-content: center;
}

.head {
    width: 350px;
    height: 200px;
    background-color: orange;
    border-radius: 0 0 100% 0;
    padding-left: 20px
}

.student {
    width: 400px;
    height: 100px;
    background-color: lightblue;
    border-radius: 0 0 0 100%;
    text-align: end;
    padding-right: 20px
}

.name {
    font-weight: bold;
    font-size: 150%
}

.btn {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;

    display: flex;
    margin: 5px 20px;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    background: #315efb;
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 10px 10px 5px 5px rgba(41,50,78,0.5), 4px 4px 2px 2px rgba(41,50,78,0.5);
    transform: scale(1.1);
}

.btn_text {
    margin-right: 10px;
}

.btn_icon {
    width: 15px;
    height: 15px;
    font-size: 15px;
}
